{% extends 'template/app.twig' %}

{% block content %}


<div class="col-md-6 offset-md-2">

    <div class="authx">

    <h4 class="auth-title text-center text-primary">Sign Up</h4>

        <form method="post" action="{{ path_for('auth.signup') }}">

         <div class="form-group">
            <label for="nameInput">Full Name</label>
            <input type="text" class="form-control {{ errors.name ? 'is-invalid': ''}}" id="nameInput"  
            name="name" aria-describedby="nameInput" placeholder="Enter full name" value="{{ old.name }}">

             {% if errors.name %}
                <div class="invalid-feedback">
                    {{ errors.name | first}}
                </div>
             {% endif %}

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control {{ errors.email ? 'is-invalid':''}}" name="email" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Enter email" value="{{old.email}}">

            {% if errors.email %}
                <div class="invalid-feedback">
                    {{ errors.email | first}}
                </div>
             {% endif %}

        </div>

         <div class="form-group">
            <label for="regInput">Registration Number</label>
            <input type="text" class="form-control {{ errors.registration_number ? 'is-invalid' :''}}"  value= "{{old.registration_number}}"
            name="registration_number" id="regInput" aria-describedby="regInput" placeholder="e.g 12/U/997">

            {% if errors.registration_number %}
                <div class="invalid-feedback">
                    {{ errors.registration_number | first}}
                </div>
             {% endif %}

        </div>

         <div class="form-group">
            <label for="stdInput">Student Number</label>
            <input type="text" class="form-control {{ errors.student_number ? 'is-invalid' : ''}}" id="stdInput"
             name="student_number" aria-describedby="stdInput" placeholder="212000363" value="{{ old.student_number }}">

             {% if errors.student_number %}
                <div class="invalid-feedback">
                    {{ errors.student_number | first}}
                </div>
             {% endif %}

        </div>

        <div class="form-group ">
            <label for="course">Course</label>
            <select  name="course_id" class="form-control  {{ errors.course_id ? 'is-invalid':''}}" id="course">
            <option value="">Select a Course</option>
          {% for course in courses %}
                 <option class="text-capitalize" value="{{ course.id }}">{{ course.course_name }}</option>
            {% endfor %}>
            </select>

             {% if errors.course_id %}
                <div class="invalid-feedback">
                    {{ errors.course_id | first}}
                </div>
             {% endif %}
        </div>


        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" name="password" class="form-control {{ errors.password ? 'is-invalid':'' }}"
             id="InputPassword1" placeholder="Password">

               {% if errors.password %}
                <div class="invalid-feedback">
                    {{ errors.password | first}}
                </div>
             {% endif %}
        </div>

         <div class="form-group">
            <label for="InputPassword1">Confirm Password</label>
            <input type="password"  name="confirm_password" class="form-control" id="InputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>

         {{ csrf.field | raw }}
        </form>

    </div>

</div>
{% endblock %}
