<p> <span class="text-primary header-title"> {{ auth.user.name }}</span> 

<span class="pull-right text-uppercase text-success">RN: {{ auth.user.registration_number }}</span>
</p>
<hr>

<div class="card">
  <div class="card-heade">
    <span class="text-primar"></span>
  </div>
  <div class="card-body">
    <h6 class="card-title text-primary"><strong>Project Partner</strong></h6>

  <table class="table">
  <thead class="">
    <tr>
    </tr>
  </thead>
  <tbody class="text-capitalize">

  {% if leader.name is empty  and available is not empty  %}
   <tr>
      <th scope="row">
      <i class="fa fa-check" aria-hidden="true"></i>
      </th>
      <td>{{ leader.name  }}</td>
      <td>{{ leader.student_number}}</td>
      <td>
        <button class="btn btn-danger btn-sm"><i class="fa fa-minus-circle" aria-hidden="true"></i>
          Del
        </button>
      </td>
    </tr>

    {% else %}
    {% endif %}


  {% for partner in partners %}
  {% if  partner.student_number != auth.user.student_number %}
    <tr>
      <th scope="row">
      <i class="fa fa-check" aria-hidden="true"></i>
      </th>
      <td>{{ partner.name  }}</td>
      <td>{{ partner.student_number}}</td>
      <td>

        <form class="" method="POST" action="{{ path_for('partner.delete',{id:partner.id}) }}">
          <input type="hidden" name="_METHOD" value="delete">
          <button class="btn btn-danger btn-sm" type="submit">
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
              Del
          </button>

          {{ csrf.field | raw}}
        </form>

      </td>
    </tr>
    {% endif %} 

    {% endfor %}
  </tbody>
</table>
 {% if partners == 0%}

    <div class="alert alert-primary" role="alert">
       Ooops {{ auth.user.name }}!  You have no project partner msmssm
       <a href="alert-link" class="text-warning"> add a partner</a>
    </div>
   {% endif %}
    
  </div>
</div>

<br>

<div class="card">
  <div class="card-heade">
    <span class="text-primar"></span>
  </div>
  <div class="card-body">
    <h6 class="card-title text-success">Project supervisor</h6>
    <div class="alert alert-success" role="alert">
       Ooops {{ auth.user.name }}!  You have no project supervisor
    </div>
    
  </div>
</div>



<br>

<div class="card">
  <div class="card-heade">
    <span class="text-primar"></span>
  </div>
  <div class="card-body">
    <h6 class="card-title text-danger">Final Year Project</h6>
    <div class="alert alert-danger" role="alert">
      You have no project  project
    </div>
    
  </div>
</div>
