{% extends 'template/main.twig' %}

{% block maincontent %}
<h5 class="text-primary"> New Course</h5>
<hr>

<form method="post" action="{{ path_for('course.create') }}">
    <div class="form-group">
        <label for="exampleInputtitle">Name </label>
        <input type="text" class="form-control {{ errors.course_name ? 'is-invalid':'' }}" name="course_name" id="exampleInputitle" 
        aria-describedby="emailHelp" placeholder="Enter course " value="{{ old.course_name }}">
        {% if errors.course_name %}
            <div class="invalid-feedback">
            {{ errors.course_name | first }}
            </div>
        {% endif %}
    </div>

<button type="submit" class="btn btn-primary">Create</button>

{{ csrf.field | raw }}
</form>
{% endblock %}
