{% extends 'template/main.twig' %}

    {% block maincontent %}

    <div class="profile-update">
        <h4 class="lead text-primary text-capitalize"> Change your Password </h4>
        
       <form method="POST" action="{{ path_for('password')}}">
            <div class="form-group">
                <input type="password" name="current_password" class="form-control text-capitalize {{ errors.current_password ? 'is-invalid':''}}" id="nameControlInput1"  
                value="" placeholder="Enter Current Password">
                
                {% if errors.current_password %}
                    <div class="invalid-feedback">
                        {{ errors.current_password | first }}
                    </div>
                {% endif %}
            </div>

              <div class="form-group">
                <input type="password" name="password" class="form-control text-capitalize {{ errors.password ? 'is-invalid':''}}" 
                id="nameControlInput1"  placeholder="Enter new  password">
                {% if errors.password %}
                    <div class="invalid-feedback">
                        {{ errors.password | first }}
                    </div>
                {% endif %}
            </div>

              <div class="form-group">
                <input type="password" name="confirm_password" class="form-control text-capitalize" id="nameControlInput1"  
                value="" placeholder="Confirm  new password">
            </div>

            <input type="hidden"  name="_METHOD" value="PUT" />

            {{ csrf.field | raw }}

            <button type="submit" class="btn btn-primary mb-2">Update Password</button>

        </form>
       
    </div>
    {% endblock %}
