
{% extends 'template/main.twig' %}

{% block maincontent %}

<h5 class="blockquote text-left text-success">Find a student </h5>
<hr>

{% include 'admin/student/search.twig' %}

<table class="table table-sm  table-bordered table-hover text-capitalize">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">course</th>
      <th scope="col">Reg/No.</th>
      <th scope="col">Action</th>
      
      {% if auth.user.role == 3 %}
      <th scope="col">.</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>

  {{ isAvailable }}


   {% for item in items %}
    <tr>
    
      <th scope="row">
      {{ list }}
      </th>

      <td> <a href="{{ path_for('student.show',{ id:item.id}) }}">{{ item.name }}</a></td>

      <td>{{ item.course_name }}</td>
      <td>{{ item.registration_number}}</td>


      {% if auth.user.role == 3 %}

        <td scope="row">

          <form class="" method="post" action="{{ path_for('student.delete',{id:item.id})}}">
          {{ csrf.field | raw }}
          <input type="hidden" name="_METHOD" value="delete">
              <button type="submit" onclick=" return confirm('Are you sure you want to delete this student')" 
              class="btn btn-danger btn-xs">
                  <span class="fa-icon">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </span>
              </button>
          </form>
          
        </td>


        <td>
          <a href="" class="btn btn-primary btn-xs">
               <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </td>

        {% endif %}
      
       {% if (auth.user.role == 1) and ( auth.user.id !=  item.id ) %}
        <td>
          <form class="" method="post" action="{{ path_for('partner.add',{id:item.id})}}">
          {{ csrf.field | raw }}
              <button type="submit" onclick=" return confirm('Are you sure you want to  add {{ item.name }}' as your project partner)" class="btn btn-success btn-xs">
                  <span class="fa-icon">
                      <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
              </button>
          </form>

        </td> 
       {% endif %}

  
    </tr>
    {% endfor %}
   
  </tbody>
</table>

{# {% include 'admin/student/pagination.twig' %} #}


{% endblock %}